
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search" style="padding: 45px"></li>
        <li>
            <a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home fa-fw"></i>خانه</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-stethoscope fa-fw"></i>مدیریت بیماران<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("CreateNewPaitient", "Paitient")">افزودن بیمار جدید</a>
                </li>
                <li>
                    <a href="@Url.Action("ListOfPaitient", "Paitient")">لیست بیماران</a>
                </li>
                <li>
                    <a href="#">گزارش سریع</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-pencil fa-fw"></i>مدیریت ویزیت‌ها<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level"></ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-users fa-fw"></i>مدیریت کاربران<span class="fa arrow"></span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i>... <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level"></ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
</div>
